.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.noticiaTitulo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  margin-left: 3px;
}
.noticiaResumo, .noticiaAutor, .noticiaData, .noticiaNoticia{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 7px;
  text-align: center;
}

.divisor{
  height: 2px;
  width: 100%;
  background-color: blanchedalmond;
}